<%= @patient.name %>
<ul>
  <% @patient.appointments.each do |appointment| %>
  <li>
    <%= human_readable_datetime(appointment.appointment_datetime) %>
    - <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
  </li>
  <% end %>
</ul>